@model ICollection<EFTest.Models.Course>


<div class="text-center">
    <h1 class="display-4">
        Total de cursos: @Model.Count
    </h1>

    <a asp-controller="Course" asp-action="Create">Novo</a>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>
                        <a asp-controller="Course" asp-action="Update"
                           asp-route-id="@s.Id">
                            ✏️
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Course" asp-action="Delete"
                              method="post">
                            <input type="hidden" name="id" value="@s.Id" />
                            <button type="submit"
                                    class="btn btn-danger btn-sm">
                                🗑️
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
