@model ICollection<EFTest.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome
        @Model.Count estudantes.
    </h1>
    
    <a asp-controller="Home" asp-action="Create">Novo</a>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data da matrícula</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.FirstMidName</td>
                    <td>@s.LastName</td>
                    <td>@s.EnrollmentDate.ToShortDateString()</td>
                    <td>
                        <a asp-controller="Home" asp-action="Update"
                            asp-route-id="@s.Id"
>
                            ✏️
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="Delete"
                            method="post">
                        <input type="hidden" name="id" value="@s.Id" />
                        <button type="submit"
                            class="btn btn-danger btn-sm">
                                🗑️
                        </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
