@model ICollection<EFTest.Models.Student>


<div class="text-center">
    <h1 class="display-4">
        Total de matrículas: @Model.Count
    </h1>

    <a asp-controller="StudentCourse" asp-action="Create">Novo</a>
    <table class="table table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Data da matrícula</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var s in Model)
            {
                @if (s.StudentCourses!.Count > 0)
                {
                    <tr>
                        <td>@s.Id</td>
                        <td>@s.FirstMidName</td>
                        <td>@s.LastName</td>
                        <td>@s.EnrollmentDate.ToShortDateString()</td>
                        <td>
                            <a asp-controller="StudentCourse" asp-action="Update" asp-route-studentId="@s.Id" class="btn btn-primary btn-sm">
                                ✏️
                            </a>
                        </td>
                        <td>
                            <form asp-controller="StudentCourse" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@s.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">🗑️</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <ul>
                                @foreach(var sc in s.StudentCourses)
                                {
                                    <li> @sc.Course?.Name</li>  
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
